<div class="site grid-container container hfeed" id="page">
    <div class="site-content" id="content">
        <div class="content-area" id="primary">
            <main class="site-main" id="main">
                <article id="post-49797" class="post-49797 page type-page status-publish has-post-thumbnail"
                    itemtype="https://schema.org/CreativeWork" itemscope="">
                    <div class="inside-article">
                        <div class="entry-content" itemprop="text">
                            <style>
                                @media screen and (max-width:360px) {
                                    .mobile-login {
                                        display: none !important
                                    }

                                    #mobile-header .site-logo img {
                                        width: 80px !important
                                    }

                                    article {
                                        position: relative;
                                        top: -40px;
                                        margin-bottom: -40px
                                    }

                                    body {
                                        background-color: var(--blue)
                                    }

                                    .hands-container,
                                    .gb-container-f05abfdc,
                                    .gb-container-ca7a4e5f,
                                    .second-level-container {
                                        background-color: var(--white)
                                    }

                                    .hands-container .wp-block-columns {
                                        margin-bottom: 0
                                    }

                                    .value-navigation-arrow-right,
                                    .value-navigation-arrow-left {
                                        display: none
                                    }

                                    .footer-top-spacer,
                                    .footer-bottom-spacer {
                                        height: 100px !important
                                    }
                                }

                                @media only screen and (device-width :375px) and (device-height :667px) and (-webkit-device-pixel-ratio :2) {
                                    #mobile-header .site-logo img {
                                        width: 100px !important
                                    }

                                    .mobile-login {
                                        display: none !important
                                    }
                                }

                                @media only screen and (device-width :414px) and (device-height :736px) and (-webkit-device-pixel-ratio :3) {
                                    #mobile-header .site-logo img {
                                        width: 100px !important
                                    }

                                    .mobile-login {
                                        display: none !important
                                    }
                                }

                                .site-header.scrolled,
                                #mobile-header.scrolled {
                                    background: var(--blue-transparent) !important
                                }

                                .site-header,
                                #mobile-header {
                                    background: rgba(0, 0, 0, 0) !important
                                }

                                #mobile-header {
                                    background: var(--blue-transparent) !important
                                }

                                .main-navigation ul.sub-menu {
                                    background: var(--blue-transparent) !important
                                }

                                .home-header-container {
                                    position: relative
                                }

                                .home-header-container,
                                .home-header-container video {
                                    height: 56.25vw
                                }

                                @media screen and (max-width:768px) {

                                    .home-header-container,
                                    .home-header-container video {
                                        height: 133.33vw
                                    }
                                }

                                @media screen and (max-width:432px) {

                                    .home-header-container,
                                    .home-header-container video {
                                        height: 200vw
                                    }
                                }

                                .hand-left {
                                    margin-left: -300px;
                                    opacity: 0
                                }

                                .hand-right {
                                    margin-right: -300px;
                                    opacity: 0;
                                    float: right
                                }

                                h3.value-headline,
                                .value-container figure.gb-block-image {
                                    cursor: pointer;
                                    transition: .5s;
                                    display: inline-block;
                                    vertical-align: top
                                }

                                .value-container figure.gb-block-image {
                                    position: relative;
                                    top: 12px;
                                    top: 8px;
                                    left: 16px
                                }

                                h3.value-headline:hover+figure.gb-block-image,
                                .value-container figure.gb-block-image:hover {
                                    transition: .5s;
                                    transform: rotate(90deg);
                                    -ms-transform: rotate(90deg);
                                    -moz-transform: rotate(90deg);
                                    -webkit-transform: rotate(90deg);
                                    -o-transform: rotate(90deg)
                                }

                                .value-container.active figure.gb-block-image {
                                    transform: rotate(90deg);
                                    -ms-transform: rotate(90deg);
                                    -moz-transform: rotate(90deg);
                                    -webkit-transform: rotate(90deg);
                                    -o-transform: rotate(90deg)
                                }

                                .value-details {
                                    display: none
                                }

                                .worth-container .worth-details {
                                    .display: block
                                }

                                h3.value-headline,
                                h3.value-headline-carousel {
                                    font-size: var(--font-size-h4);
                                    font-weight: var(--font-weight-default);
                                    text-transform: uppercase
                                }

                                h3.value-headline:hover {
                                    color: var(--red);
                                    transition: var(--transition-default)
                                }

                                .active h3.value-headline {
                                    font-weight: var(--font-weight-bold)
                                }

                                .values-slide {
                                    margin-left: auto;
                                    margin-right: auto;
                                    max-width: 400px
                                }

                                .mute-toggle {
                                    cursor: pointer;
                                    position: relative;
                                    z-index: 100;
                                    right: 20px;
                                    bottom: 140px;
                                    .bottom: 110px;
                                    margin-left: auto
                                }

                                .hero-content-container.hide-until-load {
                                    opacity: .0001;
                                    z-index: -100
                                }

                                .hero-content-container {
                                    position: relative;
                                    z-index: 100;
                                    margin-top: -56.25vw
                                }

                                .hero-content-spacer {
                                    height: 27vw !important
                                }

                                .hero-content-logo figure {
                                    max-width: 50%
                                }

                                @media screen and (max-width:768px) {
                                    .hero-content-container {
                                        margin-top: -133.33vw
                                    }

                                    .hero-content-spacer {
                                        height: 76vw !important
                                    }

                                    .hero-content-logo figure {
                                        max-width: 85%
                                    }

                                    .site {
                                        max-width: 100vw !important
                                    }
                                }

                                @media screen and (max-width:432px) {
                                    .hero-content-container {
                                        margin-top: -200vw
                                    }

                                    .hero-content-spacer {
                                        height: 115vw !important
                                    }

                                    .hero-content-logo figure {
                                        max-width: 85%
                                    }
                                }

                                .sticky-hero-button a {
                                    margin: 0 !important
                                }

                                .unmuted-image {
                                    display: none
                                }

                                .homepage .value-image.lazyload {
                                    background-image: none
                                }

                                .homepage .value-image.lazyloaded {
                                    background-image: url(/seeking/images/worth-bg-v3.png)
                                }

                                .homepage .value-image.connection {
                                    background-image: url(/seeking/images/connection-bg-v3.png);
                                    transition: .8s
                                }

                                .homepage .value-image.luxury {
                                    background-image: url(/seeking/images/luxury-bg-v3.png);
                                    transition: .8s
                                }

                                .homepage .value-image.authenticity {
                                    background-image: url(/seeking/images/authenticity-bg-v3.png);
                                    transition: .8s
                                }

                                .homepage .value-image.worth {
                                    background-image: url(/seeking/images/worth-bg-v3.png);
                                    transition: .8s
                                }

                                .homepage .value-image.safety {
                                    background-image: url(/seeking/images/safety-bg-v3.png);
                                    transition: .8s
                                }

                                @media screen and (max-width:920px) {
                                    .homepage .value-image {
                                        background-position: right
                                    }
                                }

                                .homepage .bottom-cta {
                                    background-color: var(--black)
                                }

                                .homepage .bottom-cta.lazyloaded {
                                    background-image: url(https://media.seeking.com/uploads/2023/09/footer-kiss-desktop.jpg)
                                }

                                @media screen and (max-width:768px) {
                                    .homepage .bottom-cta.lazyloaded {
                                        background-image: url(https://media.seeking.com/uploads/2023/09/footer-kiss-tablet.jpg)
                                    }

                                    .homepage .footer-top-spacer {
                                        height: 450px !important
                                    }

                                    .testimonial-slide .overlay {
                                        max-width: 80%
                                    }
                                }

                                @media screen and (max-width:432px) {
                                    .homepage .bottom-cta.lazyloaded {
                                        background-image: url(https://media.seeking.com/uploads/2023/09/footer-kiss-mobile.jpg)
                                    }
                                }

                                .testimonial-buttons {
                                    margin-bottom: 425px;
                                    margin-top: -450px;
                                    position: relative;
                                    z-index: 1;
                                    cursor: pointer
                                }

                                @media screen and (max-width:432px) {
                                    .testimonial-buttons {
                                        margin-bottom: 350px;
                                        margin-top: -400px
                                    }

                                    .testimonial-slide .overlay {
                                        max-width: 330px
                                    }
                                }

                                @media screen and (max-width:410px) {
                                    .testimonial-slide .overlay {
                                        max-width: 300px
                                    }
                                }

                                .testimonial-slide {
                                    min-height: 800px !important
                                }

                                @media screen and (max-width:1024px) {
                                    .homepage .wp-block-columns.hands-columns {
                                        flex-wrap: wrap !important
                                    }

                                    .hands-column-left {
                                        flex-basis: 40% !important;
                                        order: 1
                                    }

                                    .hands-column-right {
                                        flex-basis: 40% !important;
                                        order: 2
                                    }

                                    .hands-column-center {
                                        flex-basis: 100% !important;
                                        order: 3
                                    }
                                }

                                .value-navigation-arrow-right {
                                    width: 75px;
                                    height: 75px;
                                    margin: auto;
                                    position: relative;
                                    top: -455px;
                                    right: -200px;
                                    z-index: 1
                                }

                                .value-navigation-arrow-left {
                                    transform: rotate(.5turn);
                                    width: 75px;
                                    height: 75px;
                                    margin: auto;
                                    position: relative;
                                    top: -530px;
                                    left: -200px;
                                    z-index: 1;
                                    margin-bottom: -150px
                                }

                                @media screen and (min-width:1025px) {
                                    .top-column-equalizer {
                                        min-height: 180px
                                    }
                                }

                                @media screen and (max-width:600px) {
                                    .overlay.red.solid {
                                        padding: var(--padding-6);
                                        width: 100%
                                    }
                                }

                                @media screen and (max-width:500px) {

                                    .values-slide,
                                    .values-carousel {
                                        max-width: 300px !important
                                    }

                                    .value-navigation-arrow-right {
                                        top: -500px;
                                        width: 50px;
                                        height: 50px;
                                        right: -175px
                                    }

                                    .value-navigation-arrow-left {
                                        top: -550px;
                                        width: 50px;
                                        height: 50px;
                                        left: -175px
                                    }
                                }

                                @media screen and (max-width:400px) {
                                    .value-navigation-arrow-right {
                                        right: -155px
                                    }

                                    .value-navigation-arrow-left {
                                        left: -155px
                                    }
                                }

                                @media only screen and (max-width:375px) and (max-height:630px) {
                                    .homepage .home-header-container {
                                        margin-top: -80px;
                                        margin-top: calc(100vh - 630px);
                                        margin-top: -webkit-calc(100vh - 630px)
                                    }
                                }

                                @media only screen and (device-width:375px) and (max-device-height:667px) and (-webkit-device-pixel-ratio:2) {
                                    .homepage .home-header-container {
                                        top: -80px
                                    }
                                }

                                @media screen and (min-width:1300px) {

                                    .mute-toggle,
                                    .mute-toggle.sticky {
                                        right: inherit;
                                        margin-left: calc(50% + 550px)
                                    }
                                }

                                .benefits-content-container h3 {
                                    color: var(--black);
                                    font-weight: var(--font-weight-semi-bold);
                                    font-style: italic
                                }

                                @media screen and (max-width:1024px) {
                                    .benefits-columns {
                                        flex-wrap: wrap !important;
                                        flex-direction: column-reverse
                                    }

                                    .benefits-columns .wp-block-column {
                                        flex-basis: 100$ !important
                                    }

                                    .benefits-image-container {
                                        padding-left: var(--padding-3);
                                        padding-right: var(--padding-3)
                                    }
                                }
                            </style>
                           
                            <div class="gb-container gb-container-224cdb89 top-level-container homepage">
                                <div class="gb-container gb-container-a98542ff second-level-container">
                                    <div class="gb-container gb-container-05a83b97 home-header-container"
                                        id="home-header-container">
                                        <div class="gb-container gb-container-1afe62d7">
                                            <figure class="wp-block-video m-0 desktop laptop"><video
                                                    id="desktopVideo" class="lazyloaded"
                                                    oncontextmenu="return false;" playsinline="" autoplay="" loop=""
                                                    muted=""
                                                    poster="/seeking/images/home-hero-poster-v3.jpg"
                                                    preload="none">
                                                    <source id="videoMP4"
                                                        data-src="https://contents.seeking.com/videos/home-hero-desktop-nt.mp4"
                                                        type="video/mp4"
                                                        src="https://contents.seeking.com/videos/home-hero-desktop-nt.mp4">
                                                </video></figure>
                                        </div>
                                        <div class="gb-container gb-container-347378a4">
                                            <figure class="wp-block-video m-0 tablet"><video id="tabletVideo"
                                                    class="lazy-video" oncontextmenu="return false;" playsinline=""
                                                    autoplay="" muted=""
                                                    poster="/seeking/images/home-hero-tablet-poster.jpg"
                                                    loop="" preload="none">
                                                    <source id="videoMP4"
                                                        data-src="https://contents.seeking.com/videos/home-hero-tablet-nt.mp4"
                                                        type="video/mp4">
                                                </video></figure>
                                        </div>
                                        <div class="gb-container gb-container-be22c179">
                                            <figure class="wp-block-video m-0 mobile">
                                                <video id="mobileVideo"
                                                    class="lazy-video" oncontextmenu="return false;" playsinline=""
                                                    autoplay="" muted=""
                                                    poster="/seeking/images/home-hero-mobile-poster-v2.jpg"
                                                    loop="" preload="none">
                                                    <source id="videoMP4"
                                                        data-src="https://contents.seeking.com/videos/home-hero-mobile-nt.mp4"
                                                        type="video/mp4">
                                                </video>
                                            </figure>
                                        </div>
                                        <div class="gb-container gb-container-3725a3a0 hero-content-container">
                                            <div style="height:300px" aria-hidden="true"
                                                class="wp-block-spacer hero-content-spacer"></div>
                                            <!-- <div
                                                class="gb-container gb-container-13421811 hero-logo-container mb-5">
                                                <div class="wp-block-image hero-content-logo">
                                                    <figure class="aligncenter size-large is-resized"><noscript><img
                                                                decoding="async"
                                                                src="/seeking/images/seeking-logo-2025-white.svg"
                                                                alt="Seeking" class="wp-image-60893"
                                                                style="width:500px" /></noscript><img
                                                            decoding="async"
                                                            src="/seeking//seeking-logo-2025-white.svg"
                                                            data-src="/seeking/images/seeking-logo-2025-white.svg"
                                                            alt="Seeking" class="wp-image-60893 lazyloaded"
                                                            style="width:500px"></figure>
                                                </div>
                                            </div> -->
                                            <div class="gb-container gb-container-f9d72ae8 hero-button-container">
                                                <a class="gb-button gb-button-3cad06f7 gb-button-text hero-button join-button vce vce-aboveFold-joinNow"
                                                    href="#"><span>Join</span>&nbsp;Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gb-container gb-container-ebdc1bb7">
                                        <div class="gb-container gb-container-d2e27252 hands-container">
                                            <div style="height:100px" aria-hidden="true" class="wp-block-spacer">
                                            </div>
                                            <div class="gb-container gb-container-2d595442 px-3 mb-5">
                                                <h1 class="wp-block-heading fs-h2" id="h-the-seeking-nbsp-mindset">
                                                    The Rosecoco&nbsp;Connect</h1>
                                            </div>
                                            <div
                                                class="wp-block-columns is-not-stacked-on-mobile gap-0 hands-columns is-layout-flex wp-container-core-columns-is-layout-9d6595d7 wp-block-columns-is-layout-flex">
                                                <div
                                                    class="wp-block-column hands-column-left is-layout-flow wp-block-column-is-layout-flow">
                                                    <div class="gb-container gb-container-d75e2b4d">
                                                        <figure class="wp-block-image size-full hand-left"><img
                                                                fetchpriority="high" decoding="async" width="653"
                                                                height="390"
                                                                src="/seeking/images/hand-left-desktop.png"
                                                                alt="Hand Reaching Out to Partner"
                                                                class="wp-image-49052"></figure>
                                                    </div>
                                                </div>
                                                <div class="wp-block-column hands-column-center is-layout-flow wp-block-column-is-layout-flow"
                                                    style="flex-basis:475px">
                                                    <div class="gb-container gb-container-3a767304 mb-5 px-3">
                                                       
                                                            <p> A private social haven crafted for individuals who seek more than surface-level interactions. Exclusive for those who value discretion, depth, and meaningful encounters.</p>
                                                       
                                                        <p>You know what you want. Find it on Rosecoco.™</p>
                                                        <div
                                                            class="gb-container gb-container-b66926f6 default-join-button-container">
                                                            <a class="gb-button gb-button-070715cc gb-button-text join-button mt-2 mb-5 vce vce-belowFold-joinNow"
                                                                href="https://members.seeking.com/join"><span>Join</span>&nbsp;Now</a>
                                                        </div>
                                                        <!-- <div class="gb-container gb-container-882afeae">
                                                            <p class="fw-medium"><span data-nosnippet="">Seek
                                                                    Responsibly®<br>Must be 18 years or older to
                                                                    join<br><br><strong>Sugar dating and all forms
                                                                        of <br>transactional&nbsp;relationships are
                                                                        strictly prohibited.<br><a
                                                                            href="https://www.seeking.com/dating-safely#transactional-dating-prohibited"
                                                                            target="_blank"
                                                                            rel="noreferrer noopener nofollow"><u>Click
                                                                                to learn
                                                                                more.</u></a></strong></span></p>
                                                        </div> -->
                                                    </div>
                                                </div>
                                                <div
                                                    class="wp-block-column hands-column-right is-layout-flow wp-block-column-is-layout-flow">
                                                    <div
                                                        class="gb-container gb-container-d596e85b hand-right-container">
                                                        <figure class="wp-block-image size-full hand-right">
                                                            <noscript><img decoding="async" width="666" height="397"
                                                                    src="/seeking/images/hand-right-desktop.png"
                                                                    alt="Hand Reaching Out to Partner"
                                                                    class="wp-image-49054" /></noscript><img
                                                                decoding="async" width="666" height="397"
                                                                src="/seeking//hand-right-desktop.png"
                                                                data-src="/seeking/images/hand-right-desktop.png"
                                                                alt="Hand Reaching Out to Partner"
                                                                class="wp-image-49054 lazyloaded"></figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </main>
        </div>
    </div>
</div>